<div class="container">
			<div class="content-footer row">
				<div class="column-footer col">
					<h3>Contact information</h3>
					<ul>
						<li>ADDRESS: 212 Dobbie's Loan - Glasgow</li>
						<li>FOR BOOKING: 123456789</li>
					</ul>
				</div>

				<div class="column-footer col">
					<h3>Restaurant hours</h3>
					<ul id="restaurant-hours">
						<li>
							<span class="span-left">LUNCH:</span>
						</li>
						<li>
							<span class="span-left">Monday - Friday</span>
							<span class="span-right">11:30AM - 2:00PM</span>
						</li>
						<li>
							<span class="span-left">DINNER:</span>
						</li>
						<li>
							<span class="span-left">Monday - Friday</span>
							<span class="span-right">5:30PM - 11:00PM</span>
						</li>
						<li>
							<span class="span-left">Saturday - Sunday</span>
							<span class="span-right">4:30PM - 10:00PM</span>
						</li>
					</ul>
					<div class="line-divide second-line"></div>
				</div>

				
			</div>
		</div>
		<div class="wrap-bottom-footer">
			<div class="container">
				<div class="bottom-footer row justify-content-between">
					<div class="col-12 col-sm-7">© 2017 DesignGalaxy8. All rights reserved.</div>
					<div class="col-12 col-sm-5"><span>Privacy policy</span><span>Terms of use</span></div>
				</div>
			</div>
		</div>