<!-- Header desktop -->
		<div id="wrap_header" >
			<div class="{{class_type}}">
				<nav class="menu col_header">
					<ul class="main_title ">
						<li> <a href="/">RESTAURANTIO</a> </li>
					</ul>
					<ul class="main_menu ">
						<li> <a href="/">Home</a> </li>
						<li> <a href="/menu">Menu</a></li>
						<li> <a href="/about">About us</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div id="wrap_header_mobile">
		
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				RESTAURANTIO
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<button class="btn-show-menu-mobile hamburger hamburger--squeeze" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>	
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/menu">Menu</a>
					</li>
					<li>
						<a href="/about">About us</a>
					</li>
				</ul>
			</nav>
		</div>