<!DOCTYPE html>
<html lang="en">
<head>
	<!--Basic Page Needs-->
	{{>head}}
</head>
<body>
<div class="animsition">	

	<header>
		{{>header}}
	</header>

	<!-- About Us -->
	<section class="team">
		<div class="container">
			<div class="wrap-title-event row">
				<div id="title-event" class="col-12">
					<h6>Restaurantio</h6>
					<h2>OUR STORY</h2>
				</div>
				<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
					<div class="img-event">
						<a href="#"><img alt="picture-about-us" src="images/modern-design.jpg"></a>
					</div>
					<h3><a class="hover-link-color" href="#">Modern Design</a></h3>
					<p>
						Our Restaurant take pride in the modern design it holds, from the yellow lights in the ceiling to the blue and white table design. Everyone who visit us leave impressed by the design of the restaurant.
					</p>
				</div>

				<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
					<div class="img-event">
						<a href="#"><img alt="picture-about-us" src="images/fresh-vegtables.jpg"></a>
					</div>
					<h3><a class="hover-link-color" href="#">Fresh Vegetables</a></h3>
					<p>
						In Restaurantio, our mission and objective from the beginning was to serve fresh and healthy food for all people. All of our products are made from fresh vegetables and local ingredients.
					</p>
				</div>

				<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
					<div class="img-event">
						<a href="#"><img alt="picture-about-us" src="images/from-scratch.jpg"></a>
					</div>
					<h3><a class="hover-link-color" href="#">Made From Scratch</a></h3>
					<p>
						EVERYTHING we serve, all of our food and drink, is made from scratch in our restaurant. Our Co-Owner and chefs are continually developing our menus, crafting new and delicious ways to serve our guests.
					</p>
				</div>
			</div>			
		</div>
	</section>

	<footer>
		{{>footer}}
	</footer>

{{>script}}

</div>
</body>
</html>