<!DOCTYPE html>
<html lang="en">
<head>
	{{>head}}
</head>
<body>
	<header>
		{{>header}}
	</header>
	<section class="admin-page">
		<h2> Welcome {{user}}</h2>
		<h4> Choose the needed operation</h4>
	</section>
	{{>script}}
</body>
</html>