<!DOCTYPE html>
<html lang="en">
<head>
	{{>head}}
</head>
<body>
	<header>
		{{>header}}
	</header>
	<section class="admin-page">
		<h2> Welcome {{user}}</h2>
		<h4> Choose the needed operation</h4>
		<br><br>
		<div class="container">
			<div class="row">
				<div class ="col">
					<figure>
					<a href="/add_new">
						<img src="images/plus.png">
						<figcaption> Add New Meal</figcaption>
					</a>
					</figure>	
				</div>
				<div class ="col">
					<figure>
					<a href="/delete">
						<img src="images/minus.png">
						<figcaption> Delete Meal</figcaption>
					</a>
					</figure>
				</div>
				<div class ="col">
					<figure>
						<img src="images/update.png">
						<figcaption> Update Meal</figcaption>
					</figure>
				</div>
				<div class ="col">
					<figure>
						<img src="images/menu.png">
						<figcaption> View All Menu </figcaption>
					</figure>
				</div>
				<div class ="col">
					<figure>
						<a href="/register">
							<img src="images/register.png">
							<figcaption> Add New User</figcaption>
						</a>
					</figure>
				</div>
			</div>
		</div>
	</section>
	
	{{>script}}
</body>
</html>