@font-face {
	font-family: OpenSans;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}
@font-face {
	font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf'); 
}
@font-face {
	font-family: PlayfairDisplay-Bold;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
}


* {margin: 0; padding: 0; box-sizing: border-box;}
button {outline: none !important;}
body, html {
	height: 100%;
	font-family: OpenSans, sans-serif;
}
a{
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:hover {
	text-decoration: none;
	color: #e52233;
}
p {
	font-family: OpenSans;
	font-size: 14px;
	line-height: 1.8;
	color: #666666;
}
li {list-style-type: none;}

input, textarea {
	outline-color: #333333;
}

iframe {
	border: none !important;
}

.container{max-width: 1200px;}

.hover-img {
	width: 100%;
	overflow: hidden;
}
.hover-img img{
	width: 100%;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}
.hover-img:hover img {
	transform: scale(1.1);
}

.large-text {
	font-family: PlayfairDisplay-Bold;
	font-size: 50px;
	color: #ffffff;
}

.medium-text-2 {
	font-family: PlayfairDisplay-Bold;
	font-size: 20px;
	line-height: 1.2;
	color: #ffffff;
}
.medium-text {
	font-family: OpenSans;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.8;
	color: #666666;
	letter-spacing: 1.5px;
}
.small-text {
	font-family: OpenSans;
	font-size: 14px;
	line-height: 1.8;
	color: #666666;
}

.btn-with-bg {
	width: 100%;
	height: 50px;
	line-height: 46px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	font-family: OpenSans;
	text-transform: uppercase;
	background-color: #e52233;
	color: white;
	border: none;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-with-bg:hover {
	cursor: pointer;
	background-color: #c60b1b;
}

/*///////////////////////////////////////////////////////////////////////////////////// Index /*/

/*=================================================================== Header Desktop ===*/
#wrap_header {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
}
/*------------------------------------------------------------------- Menu ---*/
.main_nav_bar {
	width: 100%;
	margin: auto;
	background-color: #3e3a3a;
	opacity: 0.5;
	right: 0;
	left: 0; 
}
.main_nav {
	width: 100%;
	margin: auto;
	right: 0;
	left: 0; 
}
.menu {
	width: 100%;
	height: 50px;
	position: relative;
	padding: 0;
}

.main_title{
	list-style-type: none;
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 0px;
	margin-right: auto;
	position: absolute;
}

.main_title>li {
	display: block;
	float: left;
	height: 50px;
	position: absolute;	
	padding-left: 15px;
	padding-right: 15px; 
}

.main_title > li > a {
	font-family: OpenSans-Bold;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 4;
	color: #ffffff;
	padding: 5px;
}

.main_title>li:hover > a{
 	color: #e52233;
 	text-decoration: none;
}
.main_menu {
	list-style-type: none;
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 0px;
	margin-right: auto;
	position: absolute;
}
.main_menu>li {
	display: block;
	float: right;
	height: 50px;
	position: absolute;	
	padding-left: 15px;
	padding-right: 15px; 
}
.main_menu > li > a {
	font-family: OpenSans-Bold;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 4;
	color: #ffffff;
	padding: 5px;
}

.main_menu>li:hover > a{
 	color: #e52233;
 	text-decoration: none;
}

.sub_menu>li:hover > a{
 	color: #e52233;
 	text-decoration: none;
}
/* .main_menu>li:hover span{border-left: 5px solid #e52233; transform: rotate(90deg);} */
.main_menu>li:hover .sub_menu{
	visibility: visible;
	opacity: 1;
}
.main_menu>li>span {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
	border-left: 5px solid transparent;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	position: absolute;
	right: 8px;
	top: 44%;
}
.main_menu li {position: relative;}

.sub_menu {
	list-style-type: none;
	position: absolute;
	top:0;
	left:100%;
	width: 225px;
	background-color: #222222;
	opacity: 0;
	visibility: hidden;
	/* display: none; */
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.main_menu>li>.sub_menu {
	top:100%;
	left: 0;
	position: absolute;
}
.sub_menu li:hover>.sub_menu {
	display: block;
} 
/* .show_sub_menu>.sub_menu {
	display: block;
} */
/* .show_sub_menu>span {
	transform: rotate(90deg);
} */
.sub_menu li, .sub_menu a {
	padding: 10px;
	font-family: OpenSans;
	font-size: 14px;
	color: #c6c6c6;
}
.sub_menu>li:first-child {padding-top: 20px;}
.sub_menu>li:last-child {padding-bottom: 20px;}

/*------------------------------------------------------------------- Icon header ---*/
.icon-header {
	position: absolute;
	top: 0;
	right: 0;
	width: 230px;
	height: 100%;
	text-align: center;
	line-height: 125px;
}
.icon-header a {
	color: #c6c6c6;
	padding: 10px;
}
.icon-header a:hover {
	color: #e52233;
}
/*................................................................... Header Desktop .../

/*=================================================================== Header Mobile ===*/

#wrap_header_mobile {
	justify-content: space-between;
	height: 90px;
	background-color: white;
	display: none;
}
/*------------------------------------------------------------------- logo mobile ---*/
.logo-mobile {
	font-family: OpenSans-Bold;
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 100%;
}
.logo-mobile a{
	display: block;
	width: 70px;
}
.logo-mobile>a>img {
	max-width: 100%;
	vertical-align: middle;
}
/*------------------------------------------------------------------- btn show menu ---*/
.btn-show-menu {
	width: 90px;
	height: 100%;
	text-align: center;
	padding-top: 15px;
}

.hamburger {
	width: 55px;
	height: 55px;
}

.hamburger-box{
	width: 25px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 25px;
}

@media (max-width: 1100px){
	#wrap_header_mobile {display: flex !important;}
	#wrap_header {display: none;}
}
/*------------------------------------------------------------------- Menu mobile ---*/
.wrap-side-menu {
	width: 100%;
	background-color: #222222;
	display: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.side-menu {
	width: 100%;
}
.side-menu li {
	list-style-type: none;
}
.side-menu .main-menu {margin-bottom: 0;}
.side-menu .main-menu a {
	font-family: OpenSans-Bold;
	font-size: 14px;
	color: #d3d3d3;
	line-height: 2.86;
}
.side-menu .main-menu > li {
	padding-left: 30px;
	color: #d3d3d3;
	position: relative;
}
.side-menu .main-menu .arrow-main-menu {
	font-size: 14px;
	position: absolute;
	right: 20px;
	top: 5px;
	padding: 10px;
	-webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -moz-transition: all 0.4s !important;
    transition: all 0.4s !important;
}
.side-menu .main-menu .arrow-main-menu:hover {
	color: #e52233;
	cursor: pointer;
}
.turn-arrow{transform: rotate(90deg);}
.side-menu .sub-menu a {
	font-family: OpenSans;
	font-size: 14px;
	color: #b2b2b2;
	line-height: 2.5;
}
.side-menu .sub-menu > li {
	padding-left: 30px;
}

.side-menu .sub-menu > li:last-child {
	padding-bottom: 15px; 
}

.side-menu a:hover {
	text-decoration: none;
	color: #e52233;
}
.side-menu .sub-menu {
	display: none;
}

@media (min-width: 1100px){
	.wrap-side-menu {
		display: none;
	}
}
/*................................................................... Header Mobile ...*/

/*=================================================================== Slider ===*/
.uranus .tp-bullet.selected, .uranus .tp-bullet:hover {
    box-shadow: 0 0 0 1px #e52233;
    -moz-box-shadow: 0 0 0 1px #e52233;
    -webkit-box-shadow: 0 0 0 1px #e52233;
    -o-box-shadow: 0 0 0 1px #e52233;
    -ms-box-shadow: 0 0 0 1px #e52233;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);

}

.uranus .tp-bullet.selected .tp-bullet-inner, .uranus .tp-bullet:hover .tp-bullet-inner {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    background-color: #e52233;
}

.uranus .tp-bullet {
	width: 10px;
	height: 10px;
    background-color: #e52233;
}

#slider-deli .caption-1 {
	font-family: PlayfairDisplay-Bold;
	font-size: 110px;
	color: white;
	line-height: 1.5;
	white-space: normal;
	text-align: center !important;

}

#slider-deli .caption-2 {
	font-size: 20px;
	color: #eaeaea;
	line-height: 1.5;
	white-space: normal;
	text-align: center !important;
	letter-spacing: 2px;
	font-weight: normal !important;
	text-transform: uppercase;
	font-family: OpenSans !important;
}

/*------------------------------------------------------------------- Button slide 1 ---*/
.btn-slide {
	text-align: center !important;
}

.btn1, .btn2 {
	display: inline-block;
	width: 170px !important;
	height: 50px !important;
	margin: 10px;
	border: 2px solid #e52233;
	line-height: 46px !important;
	text-align: center;
	font-size: 14px !important;
	text-decoration: none;
	font-family: OpenSans !important;
	-webkit-transition: transform 0.4s !important;
    -o-transition: transform 0.4s !important;
    -moz-transition: transform 0.4s !important;
    transition: transform 0.4s !important;
}
.btn2{
	background-color: #e52233;
	color: white;
	text-decoration: none;
	font-weight: normal;
}
.btn1 {
	color: #e52233;
	text-decoration: none;
	font-weight: normal;
}
.btn1:hover{
	transform: scale(1.05);
	text-decoration: none;
	color: #e52233;
}

.btn2:hover{
	transform: scale(1.05);
	text-decoration: none;
	color: white;
}

/*................................................................... Slider ...*/



/*=================================================================== Our Menu ===*/
.our-menu {background-color: white;}
/*------------------------------------------------------------------- title our menu ---*/
.wrap-title-our-menu{
	margin-right: 0px;
	margin-left: 0px;
}
.title-our-menu {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e4e4;
	margin-right: 0px;
	margin-left: 0px;
}
.title-our-menu > h6{
	text-transform: uppercase;
	color: #808080;
	font-family: OpenSans;
	font-size: 14px;
	letter-spacing: 1.5px;
}
.title-our-menu > h2{
	color: #333333;
	font-family: PlayfairDisplay-Bold;
	font-size: 50px;
}

/*------------------------------------------------------------------- food menu ---*/
.nav-tabs .nav-link {
   border: none;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}
.nav-link {
    display: inline; 
    padding: 0;
}
.nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    color: #e52233 !important;
}
.nav-tabs {
    border-bottom: none;
}
.wrap-food-menu{
	border-bottom: 1px solid #e4e4e4;
	margin-right: 0px;
	margin-left: 0px;
}
#food-menu {
	width: 350px;
	height: 40px;
	margin: auto;
}
#food-menu li {
	float: left;
	font-family: OpenSans;
	font-size: 14px;
	list-style-type: none;
	text-align: center;
}
#food-menu a:hover{text-decoration: none; color: #e52233;}
#food-menu a{
	padding-left: 16px;
	padding-right: 17px;
	line-height: 40px;
	color: #808080;
	border-right: 1px solid #e4e4e4;
}
#food-menu li:first-child>a{
	padding-left: 10px;
}
#food-menu li:last-child>a{
	padding-right: 10px;
	border-right: none;
}
@media (max-width: 780px){
	#food-menu a{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	#food-menu {
		width: 280px !important;
	}
}
/*------------------------------------------------------------------- list food ---*/
.wrap-list-food {
	padding-top: 50px;
	padding-bottom: 100px;
}
.list-food>.col-md-10 {
	margin: auto;
}

.list-food>div {
	padding-top: 12px;
	padding-bottom: 12px;
}

.item-food {}
.img-list-food {
	text-align: center;
}
.img-list-food img {
	width: 70px;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.img-list-food img:hover {
	transform: translate(0,-4px);
	box-shadow: 3px 4px 10px -5px #505050;
	-moz-box-shadow: 3px 4px 10px -5px #505050;
    -webkit-box-shadow: 3px 4px 10px -5px #505050;
    -o-box-shadow: 3px 4px 10px -5px #505050;
    -ms-box-shadow: 3px 4px 10px -5px #505050;
}
.name-food,.name-food>a {
	padding-top: 8px;
	font-family: PlayfairDisplay-Bold;
	font-size: 15px;
	text-transform: uppercase;
	color: #333333;
}
.hover-link-color:hover{
	text-decoration: none;
	color: #e52233;
}
.line-food{
	border-bottom: 1px solid #c9c9c9;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
	min-width: 0px;
	padding: 0px;
}
.price-food {
	padding-top: 8px;
	font-family: PlayfairDisplay-Bold;
	font-size: 15px;
	color: #333333;
}
.info-food {
	padding-top: 8px;
	font-family: OpenSans;
	font-size: 14px;
	color: #666666;
}
@media (max-width: 995px){
	.img-list-food>a>img{float: right !important;}
	.img-list-food, .text-list-food {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
}
@media (max-width: 576px){
	.img-list-food > a > img {float: unset !important;}

	.img-list-food, .text-list-food, .price-food {
		text-align: center !important;
	}
	
	.item-food {border-bottom: 1px solid #e4e4e4;}
	.line-food {display: none;}
	
}

/*------------------------------------------------------------------- animation list food ---*/

@keyframes lineRun {
	0% {visibility: hidden;}
	29% {visibility: hidden;}
	30% {visibility: visible; width: 0%;}
	45% {width: 50%;}
	60% {width: 100%; }
	100% {width: 100%;}
}
@keyframes nameRun {
	0% {color: #333333;}
	15% {color: #e52233;}
	100% {color: #e52233;}
}
@keyframes priceRun {
	0% {color: #333333;}
	60% {color: #333333;}
	80% {color: #e52233;}
	100% {color: #e52233;}
}
.line-food {
	position: relative;
}

.line-run {
	width: 1px;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: #e52233;
	animation: lineRun 1s linear 1;
}
.name-run>a {
	animation: nameRun 1s linear 1;
}
.price-run {
	animation: priceRun 1s linear 1;
}
/*................................................................... Our Menu ...*/

/*=================================================================== Event ===*/
#event {
	background-color: white;
}

.wrap-title-event {
	padding-bottom: 85px;
}

#title-event {
    text-align: center;
    padding-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
}
#title-event > h6{
	text-transform: uppercase;
	color: #808080;
	font-family: OpenSans;
	font-size: 14px;
	letter-spacing: 1px;
}
#title-event > h2{
	color: #333333;
	font-family: PlayfairDisplay-Bold;
	font-size: 50px;
}
.img-event {
	width: 100%;
	overflow: hidden;
}
.img-event img{
	width: 100%;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}
.img-event img:hover{
	transform: scale(1.1);
}
.content-event{padding-top: 50px;}
.content-event > h3 > a {
	font-family: PlayfairDisplay-Bold;
	font-size: 20px;
	line-height: 1.5;
	color: #333333;
	
}
.content-event > h3 {padding-top: 25px;}

.content-event > p {
	font-family: OpenSans;
	font-size: 14px;
	line-height: 1.8;
	/* text-align: justify; */
	color: #666666;
	margin: 0;
	padding-bottom: 10px;
}
.content-event > span{
	font-family: OpenSans-Bold;
	font-size: 14px;
	color: #666666;
	height: 20px;
}
.date-event {
	padding-right: 17px;
	border-right: 1px solid #666666;
}
.time-event{padding-left: 15px;}

@media (max-width: 991px){
	.content-event{
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
/*................................................................... End Event ...*/

/*=================================================================== Footer ===*/
footer {
	background-color: #222222;
}

footer h3 {
	font-family: PlayfairDisplay-Bold;
	font-size: 20px;
	color: white;
	line-height: 1.3;
	padding-bottom: 15px;
}

footer ul li {
	list-style-type: none;
	color: #c6c6c6;
	font-family: OpenSans;
	font-size: 14px;
	line-height: 2.14;
}
footer ul li a {
	color: #c6c6c6;
	font-family: OpenSans;
	font-size: 14px;
	line-height: 2.14;
}
footer ul li a:hover {
	text-decoration: none; 
	color: #e52233;
}
.content-footer {
	padding-top: 100px;
	padding-bottom: 60px;
	position: relative;
}
.column-footer{
	padding-top: 17px;
}
.line-divide {
	position: absolute;
	width: 1px;
	background-color: #333333;
	bottom: 0px;
	top: 0px;
}
.column-footer.col-lg-5{padding-right: 80px;}
.column-footer.col-lg-4{padding-right: 50px;}

#follow-us a {
	padding-left: 18px;
}

#restaurant-hours .span-left {
	display: inline-block;
	width: 42%;
}

#useful-links .span-left {
	display: inline-block;
	width: 56%;
}
.first-line {
	left: -12%;
}
.second-line {
	left: -16%;
}


.wrap-bottom-footer {
	border-top: 1px solid #333333;
	padding-bottom: 18px;
	padding-top: 18px;
}
.bottom-footer .col-sm-7,.bottom-footer .col-sm-5 {
	color: #c6c6c6;
	font-family: OpenSans;
	font-size: 14px;
	line-height: 1.8;
}
.bottom-footer .col-sm-5{text-align: right;}
.bottom-footer span:first-child {
	padding-right: 10px;
	border-right: 1px solid #333333;
}
.bottom-footer span:last-child {
	padding-left: 10px;
}



@media (max-width: 991px){
	
	.column-footer.col-lg-5{margin-left: 18%; padding-right: 0px;}
	.column-footer.col-lg-4{margin-left: 18%; padding-right: 0px;}
	.column-footer.col-lg-3{padding-right: 0px;}
	.first-line{display: none;}
}
@media (max-width: 767px){
	.column-footer.col-lg-5{margin-left: auto; padding-right: 0px;}
	.column-footer.col-lg-4{margin-left: auto; padding-right: 0px;}
	.column-footer{margin: auto;}
	.second-line{display: none;}
}
@media (max-width: 576px){
	.bottom-footer .col-sm-7,.bottom-footer .col-sm-5{text-align: center;}
}

/*................................................................... Footer ...*/



/*///////////////////////////////////////////////////////////////////////////////////// Menu 01/*/



/*[  ]
===========================================================*/
.bg-title-sub-page {
	min-height: 499px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 180px;
}

.wrap-title-sub-page {
	text-align: center;
}
.title-l {
	font-family: PlayfairDisplay-Bold;
	font-size: 60px;
	line-height: 1.3;
	color: white;
}
.title-s {
	font-family: OpenSans;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 2.2;
	color: #c6c6c6;
	margin-top: 18px;
	margin-bottom: 0px;
}
/*===================================================================  ===*/

.bg-menu-page-01 {
	background-image: url('/images/menu.jpg');
}
.bg-admin {
	background-image: url('/images/menu.jpg');
}

.our-menu.for-menu-page .title-our-menu {
	border: none;
	padding-bottom: 0px;
}

.our-menu.for-menu-page .wrap-list-food {
	padding-top: 30px;
}

.content-banner-for-menu-page {
	height: 300px;
}
/*...................................................................  ...*/


/*///////////////////////////////////////////////////////////////////////////////////// Menu 02/*/
.content-menu-02 {
	padding-top: 90px;
	padding-bottom: 70px;
}
.bg-menu-page-02 {
	background-image: url('/images/img-title-menu-page-02.jpg');
}
.content-menu-02 .hover-img {
	display: block;
	margin-bottom: 30px;
	position: relative;
}
.content-menu-02 .hover-img:hover {
	cursor: pointer;
}

.content-menu-02 .text-in-img-menu-02 {
	display: block;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	text-align: center;
	color: white;
	font-family: PlayfairDisplay-Bold;
	font-size: 30px;
	letter-spacing: 2px;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.content-menu-02 .hover-img:hover .text-in-img-menu-02{
	background-color: #e52233 ;
	opacity: 0.5;
}

@media (max-width: 768px) {
	.col-content-menu-02 {margin: auto;}
}

/*///////////////////////////////////////////////////////////////////////////////////// Reservation 01 /*/

.bg-reservation-01-page {
	background-image: url('/images/img-title-reservation-01.jpg');
}

.my-line-divide {
	width: 1px;
	margin: auto;
	height: 100%;
	background-color: #c6c6c6;
}

.content-reservation-01 h3 {
	font-family: OpenSans-Bold;
	font-size: 20px;
	line-height: 1.25;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.content-reservation-01 .text-reservation-01 {
	padding-bottom: 60px;
}
.content-reservation-01 .container {
	padding-top: 100px;
	padding-bottom: 100px;
}


/*///////////////////////////////////////////////////////////////////////////////////// Reservation 02 /*/
.wrap-input-reservation-02 {
	padding-top: 30px;
	padding-bottom: 100px;
}

.content-reservation-02 .title-our-menu{border: none;}
.content-reservation-02 .your-info {
	width: 100%;
	height: 50px;
	font-size: 14px;
	font-family: OpenSans;
	color: #666666;
	padding-left: 18px;
	/* outline: none; */
	background-color: #f9f9f9;
	border: 1px solid #aaa;

}
.content-reservation-02 .wrap-input-reservation-02 {margin: auto;}
.content-reservation-02 .btn-reservation-02 {
	margin: auto; 
	width: 170px;
	padding-top: 18px;
}

.content-reservation-02 .col-field-input.left {padding-right: 5px !important;}
.content-reservation-02 .col-field-input.right {padding-left: 5px !important;}
.content-reservation-02 .col-field-input {
	margin-bottom: 10px;
}
.content-reservation-02 .your-info.special-notes {
	min-height: 150px;
	padding: 10px 18px;
	margin: 0;
}

@media (max-width: 768px) {
	.content-reservation-02 .col-field-input.left {padding-right: 15px !important;}
	.content-reservation-02 .col-field-input.right {padding-left: 15px !important;}
}

/*///////////////////////////////////////////////////////////////////////////////////// Reservation 03 /*/

.content-reservation-03 {
	padding-bottom: 100px;
	padding-top: 100px;
}
.content-reservation-03 .title-our-menu {
	text-align: left;
	border: none;
	padding-top: 20px;
}

.content-reservation-03 .col-right-reservation-03 {
	padding-left: 70px;
}

.content-reservation-03 .title-our-menu {
	padding-bottom: 10px;
}
.content-reservation-03 .title-our-menu h2 {
	margin-bottom: 30px;
}

.content-reservation-03 .col-field-input.left {
	padding-right: 0px;
}
.content-reservation-03 .col-field-input.right {
	padding-left: 0px;
}
.content-reservation-03 .col-field-input > div {
	margin-bottom: 10px;
}

@media (max-width: 992px) {
	.content-reservation-03 .col-content {margin: auto;}
	.content-reservation-03 .col-right-reservation-03 {
		padding-left: 0px;
	}
}

/*///////////////////////////////////////////////////////////////////////////////////// About Us /*/

/*=================================================================== Intro for about us page ===*/
.wrap-pic-intro img {
	width: 100%;
}

.wrap-intro.for-about-us {
	background-image: url('/images/bg-about-us-01.jpg');
	padding-bottom: 70px;
}

.wrap-intro.for-about-us .wrap-pic-intro {
	padding-left: 85px;
}

.wrap-intro.for-our-food {
	background-image: none;
	background-color: white;
}

.wrap-intro.for-our-food .text-intro {
	padding-left: 85px;
}

/*=================================================================== Team for about us page ===*/
.team {background-color: #f8f8f8;}
.team .content-event > h3 {
	padding-top: 15px;
}


@media (max-width: 992px){
	.wrap-intro.for-page .text-intro, .wrap-intro.for-page .wrap-pic-intro{
		margin-left: auto;
		margin-right: auto;
	}
	.wrap-intro.for-our-food .text-intro {
		padding-left: 15px;
	}
	.wrap-intro.for-about-us .wrap-pic-intro {
		padding-left: 15px;
	}

}

.admin-page {
	padding-top: 178px;
	padding-bottom: 100px;
	background-image: url('/images/menu12.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.update-page a:link {
	background-color: white;
	color: black;
	border: 2px solid #990b0b;
	padding: 10px 20px;
	text-align: center;
	margin-bottom: 30px;
	text-decoration: none;
	display: inline-block;
}

.update-page a:visited{
	background-color: white;
	color: black;
	border: 2px solid #990b0b;
	padding: 10px 20px;
	text-align: center;
	margin-bottom: 30px;
	text-decoration: none;
	display: inline-block;
}

.update-page a:hover{
	background-color: #990b0b;
	color: white;
}

.update-page a:active{
	background-color: #990b0b;
	color: white;
}
.admin-page h1 {
	font-family: PlayfairDisplay-Bold;
	font-size: 70px;
	color: #fafafa;
	position: relative;
	top: -100px;
	line-height: 1.0;
	white-space: normal;
	text-align: center !important;
}

.admin-page h2 {
	font-family: PlayfairDisplay-Bold;
	font-size: 110px;
	color: #fafafa;
	line-height: 1.0;
	white-space: normal;
	text-align: center !important;
}
.admin-page h4 {
	color: #fafafa;
	font-family: PlayfairDisplay-Bold;
	font-size: 30px;
	line-height: 1.0;
	letter-spacing: 1px;
	white-space: normal;
	text-align: center !important;
}

.admin-page h5 {
	color: #fafafa;
	font-family: PlayfairDisplay-Bold;
	font-size: 30px;
	position: relative;
	top: -90px;
	line-height: 1.0;
	letter-spacing: 1px;
	white-space: normal;
	text-align: center !important;
}


.form-group label{
	font-family: OpenSans;
	color: #fafafa;
}
input[type=text], input[type=password]{
	height: 49px;
	background-color: #fafafa;
	border: 1px solid #999999;
	margin-bottom: 10px;
	padding-left: 20px;
}
form{
	text-align: center;
	margin: auto;
	max-width: 64em;
}
.content-contact-us input {
	width: 100%;
	height: 49px;
	background-color: #fafafa;
	border: 1px solid #999999;
	margin-bottom: 10px;
	padding-left: 20px;
}
.content-contact-us textarea {
	display: block;
	width: 100%;
	min-height: 170px;
	background-color: #fafafa;
	border: 1px solid #999999;
	margin-bottom: 20px;
	padding: 20px;
	padding-top: 10px;
}

.content-contact-us .col-left {padding-right: 5px;}
.content-contact-us .col-right {padding-left: 5px;}

.content-contact-us .map{
	margin-top: 60px;
}

.contact-map {
	height: 500px;
}



/*=================================================================== Style for Bootstrap Notify ===*/

.alert.alert-success {
	border-radius: 0px !important;
	border:none !important;
	background-color: #e87780 !important;
	color: white !important;
	font-family: OpenSans !important;
	font-size: 16px !important;
}
.alert.alert-danger {
	border-radius: 0px !important;
	border:1px solid  #e87780 !important;
	background-color: white !important;
	color:  #e87780 !important;
	font-family: OpenSans !important;
	font-size: 14px !important;
}

.messages .alert.alert-success {
	font-size: 14px !important;
}

.messages .close {
	line-height: 0.8 !important;
}
/*................................................................... Style for Bootstrap Notify ...*/


/*=================================================================== Content blog list ===*/

.wrap-content-blog {
	padding-right: 100px;
}

.wrap-content-blog .col-style-content-blog.right {
	margin-right: -30px;
	padding-right: 0px;
}

.wrap-content-blog img {
	width: 100%;
}

.wrap-content-blog .medium-text-2 {
	font-size: 25px;
	line-height: 1.3;
	padding-top: 32px;
	padding-bottom: 10px;
}

.wrap-content-blog .post-info {
	font-family: OpenSans;
	font-size: 13px;
	line-height: 1.9;
	text-transform: uppercase;
	color: #777777;
}
.wrap-content-blog .date-post {
	margin-right: 30px;
}

.sub-post {
	margin-top: 40px;
}
.para-sub-post {
	max-height: 80px;
	margin-bottom: 12px;
	overflow: hidden;
}

.wrap-content-blog .sub-post .medium-text-2 {
	padding-top: 13px;
	padding-bottom: 10px;
}

.wrap-content-blog .bottom-shop-list {
	padding-top: 50px;
}
.wrap-content-blog .bottom-shop-list .small-text {
	margin-top: 10px;
}

@media (max-width: 992px) {
	.content-blog-list-sidebar-page .wrap-side-bar {
		padding-left: 0px;
		margin-left: -15px;
	}

	.wrap-content-blog {
		padding-right: 0px;
	}

	.wrap-content-blog .col-style-content-blog.right {
		margin-right: 0px;
		padding-right: 0px;
	}

	.col-res-content-blog {
		margin-left: auto;
		margin-right: auto;
	}
}
/*///////////////////////////////////////////////////////////////////////////////////// Menu 03 /*/

.restyle-menu-03.content-reservation-03.special .col-right-reservation-03 {
    padding-left: 0px;
    padding-right: 70px;
}

.restyle-menu-03 .s-screen {
	display: none;
}

@media (max-width: 992px) {
	.restyle-menu-03.content-reservation-03.special .col-right-reservation-03 {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	
	.restyle-menu-03 .s-screen {
		display: block;
	}

	.restyle-menu-03 .l-screen {
		display: none;
	}

}

.restyle-menu-03.home-onepage-menu.content-reservation-03.bg-color {
	background-color: #f8f8f8;
}

.restyle-menu-03 .wrap-list-food {
    padding-top: 8px;
    padding-bottom: 0px;
}

.pad-bt-80 {
	padding-bottom: 80px;
}

figure {
    display: inline-block;
    margin: auto; /* adjust as needed */
	text-align: center;
}
figure img {
    vertical-align: top;
}
figure figcaption {
	color: #fff;
    text-align: center;
}